.product-card-container {
    flex: 1;
    margin-right: 20px;
}

.product-card-container:last-child {
    margin-right: 0;
}

.product-card-container:hover {
    cursor: pointer;
}

.product-img-container {
    width: 100%;
    height: auto;
    position: relative; /* Mandatory to create an overlay */
}

.product-img-container:hover {
    cursor: pointer;
}

.product-img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    transition: 300ms ease;
    opacity: 0;
}

.quick-view-btn {
    position: absolute;
    width: 100%;
    height: 2.6rem;
    bottom: 0;
    background-color: #111;
    transition: 300ms ease;
    opacity: 0;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.product-img-container:hover .overlay {
    opacity: 0.1;
}

.product-img-container:hover .quick-view-btn {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.category-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
    text-transform: uppercase;
}

.product-summary {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.product-name-container {
    display: flex;
    justify-content: space-between;
}

.product-name {
    font-size: 0.95rem;
    font-weight: 400;
}

.wish-icon,
.wish-icon-selected {
    font-size: 1.1rem !important;
    font-weight: 400 !important;

}

.wish-icon-selected {
    color: #ec407a;
}

.wish-icon.selected {
    background: linear-gradient(60deg, #ec407a, #d81b60);
}

.wish-icon:hover,
.wish-icon-selected:hover {
    cursor: pointer;
}

.product-rating {
    color: #a1a1c1 !important;
}

.price-tag {
    display: flex;
    margin-top: .2rem;
    font-size: 1rem;
    font-weight: 500;
}

.price-tag::before {
    content: '₹';
}